

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 0;
  color: #566b78;
  margin: 0;
  /* max-width: 50em; */
}

main {
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
}

/* _____________________________________________________ */
/* HEADER */

header {
  background-color: #263d36;
  /* background-image: url("https://images.unsplash.com/photo-1681846291878-1103198eb2d0"); */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header h2 {
  color: white;
  font-size: 1.0em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: none 200ms ease-out;
  transition: none 200ms ease-out;
  -webkit-transition-property: color, background;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}



/* _____________________________________________________ */
/* OTHER ELEMENTS */

img {
  height: auto;
  max-width: 100%;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}


a {
  color: #e81c4f;
}


code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-size: 11pt;
}

pre {
  padding: 0.7em;
  border-left: 2px solid #69c;
  overflow: auto;
  white-space: pre-wrap;
}

code,
pre {
  line-height: 1.3;
  background: #f5f7f9;
  /* border-bottom: 1px solid #d8dee9; */
  color: #343434;
}

footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
}


/* _____________________________________________________ */
/* GRID */

.bloggrid {
  margin: 5px;
  /* background-color: red; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 600px) {
  .column {
    flex: 1
  }
}
.cell {
  /* background-color: blue; */
  /* height: 100px; */
  margin: 10px;
  padding: 0px;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
  -moz-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
  box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 1);
}

.cell-title {
    display: inline-block;
    color: #566b78;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    padding-top: 0px;
    font-size: 1.4em;
    font-weight: 2000;
}

.cell-desc {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  padding-top: 0px;
  font-size: 0.8em;
  font-weight: 200;
}

.cell-date {
  color: #79868e;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  padding-top: 0px;
  font-size: 0.65em;
  font-weight: 200;
}